In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('https://www.cpc.ncep.noaa.gov/products/precip/CWlink/pna/norm.nao.monthly.b5001.current.ascii.table')
df

   1950   0.92   0.40  -0.36   0.73  -0.59  -0.06  -1.26  -0.05   0.25   0.85  -1.26  -1.02
0   1951   0.08   0.70  -1.02  -0.22  -0.59  -1.64...
1   1952   0.93  -0.83  -1.49   1.01  -1.12  -0.40...
2   1953   0.33  -0.49  -0.04  -1.67  -0.66   1.09...
3   1954   0.37   0.74  -0.83   1.34  -0.09  -0.25...
4   1955  -1.84  -1.12  -0.53  -0.42  -0.34  -1.10...
..                                                ...
67  2018   1.44   1.58  -0.93   1.24   2.12   1.09...
68  2019   0.59   0.29   1.23   0.47  -2.62  -1.09...
69  2020   1.34   1.26   1.01  -1.02  -0.41  -0.15...
70  2021  -1.11   0.14   0.73  -1.43  -1.24   0.77...
71  2022   1.08   1.68   0.77  -0.36   0.71  -0.12...

[72 rows x 1 columns]