In [13]:
import numpy as np
import pandas as pd
from scipy.signal import detrend
from scipy.stats import pearsonr

extent = pd.read_excel('Sea_Ice_Index_Daily_Extent_G02135_v3.0.xlsx', sheet_name=1)
extent = extent.T
extent = extent.drop(['Unnamed: 0', 'Unnamed: 1', 1978, 2021, 2022, '1981-2010 mean', '1981-2010 median'])
extent = extent.astype('float')
extent = extent.interpolate(method='linear', axis=1)
extent = extent.interpolate(method='linear', axis=0)
extent_1d = extent.values.flatten()
seaice_detrended = detrend(extent_1d)
seaice = np.array(seaice_detrended).reshape(42, 366)
seaice = pd.DataFrame(seaice)


new_index = np.arange(41)

# get sea ice data for DJF
seaice_jf = seaice.loc[1:, 0:59]
seaice_jf.index = new_index
seaice_d = seaice.loc[0:40, 335:]
seaice_d.index = new_index
seaice_djf = pd.concat([seaice_d, seaice_jf], ignore_index=True, axis=1)
seaice_mean_djf = seaice_djf.mean(axis=1).to_list()

# get sea ice data for MAM
seaice_mam = seaice.loc[1:, 59:152]
seaice_mam = pd.DataFrame(seaice_mam)
seaice_mean_mam = seaice_mam.mean(axis=1).to_list()

# get sea ice data for JJA
seaice_jja = seaice.loc[1:, 152:243]
seaice_jja = pd.DataFrame(seaice_jja)
seaice_mean_jja = seaice_jja.mean(axis=1).to_list()

# oni = pd.read_excel('oni.xlsx')
# oni_djf = oni['DJF'].to_list()
# oni_mam = oni['MAM'].to_list()
# oni_jja = oni['JJA'].to_list()

num_stations = 131
seaice_corr = []
seaice_p = []

seasons = [seaice_mean_djf, seaice_mean_mam, seaice_mean_jja]

for season in range(len(seasons)):

    for sheet in range(num_stations):
        streamflow_df = pd.read_excel('Streamflow_Data.xlsx', sheet_name=sheet)
        # extract column with streamflow data
        streamflow_list = streamflow_df['ft3/s'].to_list()
        # convert data from ft^3/s to m^3/s
        streamflow_list = [value / 35.3147 for value in streamflow_list]
        # compute mean and SD
        mean = np.mean(streamflow_list)
        sd = np.std(streamflow_list)
        # standardize the data
        standardized_values = []
        for item in range(len(streamflow_list)):
            standardized_values.append(((streamflow_list[item] - mean) / sd))

        june_streamflow = standardized_values[5::12]
        july_streamflow = standardized_values[6::12]
        august_streamflow = standardized_values[7::12]

        sf_df = pd.DataFrame([june_streamflow, july_streamflow, august_streamflow])
        sf_df = sf_df.T
        sf_df = sf_df.mean(axis=1).to_list()

        r = pearsonr(seasons[season], sf_df)

        seaice_corr.append(r[0])
        seaice_p.append(r[1])

corr_djf = seaice_corr[0:131]
print(corr_djf)
corr_mam = seaice_corr[131:262]
print(corr_mam)
corr_jja = seaice_corr[262:]
print(corr_jja)

p_djf = seaice_p[0:131]
p_mam = seaice_p[131:262]
p_jja = seaice_p[262:]

df = []
for sheet in range(num_stations):
    print(sheet)
    streamflow_df = pd.read_excel('Streamflow_Data.xlsx', sheet_name=sheet)
    streamflow_subset = streamflow_df.drop(['Year', 'Month', 'ft3/s'], axis=1)
    print(streamflow_subset)
    streamflow_subset['r_djf'] = corr_djf[sheet]
    streamflow_subset['p_djf'] = p_djf[sheet]
    streamflow_subset['r_mam'] = corr_mam[sheet]
    streamflow_subset['p_mam'] = p_mam[sheet]
    streamflow_subset['r_jja'] = corr_jja[sheet]
    streamflow_subset['p_jja'] = p_jja[sheet]
    streamflow_subset = streamflow_subset.iloc[0]
    df.append(streamflow_subset)

df = pd.DataFrame(df)

[0.12226634216306725, 0.06918130648859001, 0.04793589244181456, 0.20377465485421678, 0.14659073246472662, 0.11342872314099574, 0.21054298032843227, 0.10011105503193106, 0.20920688310042315, 0.16436121293286501, 0.21474058694760792, 0.061545125950564175, 0.1639850610155492, 0.24222108960604202, 0.25030630398775255, 0.23483055508820175, 0.17462603861755827, 0.04106695209216875, 0.0916233177738958, 0.07436999231603043, 0.07488159920751677, 0.06384818893730092, 0.366165251684785, 0.3166379887398568, 0.33288502401968345, 0.3270683744826845, 0.37025753904591907, 0.34451868395931035, 0.2611183064445699, 0.24892820932548537, 0.13402377250848638, 0.15234339006524283, 0.17028000200073684, 0.17922631953849177, 0.18548586336394826, 0.36200799405446593, 0.3170137943146583, 0.23948751240080285, 0.202807246376807, 0.202807246376807, 0.16641844054002783, -0.017971764479697963, -0.0230358940087221, 0.11355769642246416, -0.058554969347580095, 0.1587756573699164, 0.25119553918080106, 0.26011088947877015, 0.26011088947877015, 0.30949874808933975, 0.233375657718061, 0.12079764563861314, 0.2656182772068868, 0.24610190153945855, 0.16978984250503457, 0.007446483442747495, 0.09985365239136122, 0.08866113235973921, 0.014909718741889517, 0.037184764931616314, -0.14368195061423134, 0.21609601354316105, 0.1825208738596802, 0.10878311088844872, 0.09441956394644292, 0.02874814726215072, 0.11710155101648766, 0.11975389159447991, 0.12517013915428823, 0.10371787915110003, 0.15734710938462415, 0.08769852657826183, 0.0835378386500289, -0.010537104989799984, 0.07178243861393802, 0.12840199455314516, 0.16549676937667057, 0.12419588354485202, 0.15211812447801426, 0.04728997317738823, 0.3298594461943306, 0.32450730082202883, 0.32832621877832924, 0.38357964101260456, 0.3541287929848147, 0.35562038280654706, 0.33129405712804116, -0.09567191635678664, -0.003794143540432504, 0.10109680342178322, 0.12349850305690033, -0.02672583446902329, 0.19013106965518, 0.29893580931853986, 0.20352905888848705, 0.21028644977115696, 0.2847335401571236, 0.2847335401571236, 0.17568374956986066, 0.17181234163766568, 0.40960569369049205, 0.3302705346683392, 0.2978278774664994, 0.341059410814476, 0.3826826985717404, 0.34439958790617864, 0.2010889555744552, 0.30622703006615876, 0.3390886881746224, 0.3657697359955022, 0.13307574334664535, 0.11204991480002158, 0.1405124563022474, 0.28452541085068606, 0.1562118806411244, 0.05437355511882629, 0.08890111956691561, 0.09972528029677002, 0.13417379435273438, 0.23382080918367665, 0.3523692809025185, 0.3719750906007967, 0.2761934914270414, 0.3123312612204821, 0.17454256178657193, 0.13478237953232128, 0.15555636625914715, 0.12448899647432218, 0.2969615969053408, 0.3494880385237609, 0.25371342278658976]
[-0.10134877973570403, -0.15833408174768296, -0.15330619880161378, -0.10308447581572762, -0.18554852642783992, -0.24236994992715616, -0.091823138545535, -0.13105607646001574, -0.06607046532172667, -0.06415997329838764, -0.0453489432058654, -0.17968176185136764, -0.09323464075638996, 0.06968732478824614, 0.051167298610163295, 0.08990462043921008, -0.07051398506630964, -0.2010899483791829, -0.1312577288285174, -0.12615351642909617, -0.131089451732876, -0.13821555923853374, 0.11104209538376811, 0.10583275800145468, 0.10583695214961042, 0.12659590324839734, 0.1305543282270946, 0.0678728950514634, -0.08584195486773358, -0.07860496742477273, -0.17240763485686672, 0.26635418453692233, -0.06381353265830332, -0.10679995461463523, -0.06983714454148411, 0.20947366249979046, 0.11698390069516479, -0.032004326005585074, -0.07171975065074142, -0.07171975065074142, -0.12265351311709521, -0.16176790590643841, -0.0830007167084286, 0.024371388816051283, -0.08562854852356422, -0.16223219399428288, 0.12571000132441473, 0.08233525987770846, 0.08233525987770846, 0.14184307001921248, 0.10216050772298202, -0.022752781272698815, 0.09337513466154018, 0.09318290432254761, -0.017061985156255177, 0.05306453535852146, 0.03792133245666931, -0.0530089349745798, -0.13996706946514234, -0.0345893467431964, -0.2509330659102606, 0.06659659667620499, 0.019719281011306572, -0.00812650462446457, -0.05021185001899088, -0.058786353267822035, 0.1246186803111257, 0.0934997420779281, 0.0089850080450149, -0.033220562429412195, 0.08438929667741678, -0.02561815932830582, -0.05688794813551992, -0.11900241198659234, -0.005423339562119628, 0.03458763283632872, 0.059895850830405224, 0.0209667052336472, 0.026052758559815467, -0.0704023426121289, 0.14153284011514344, 0.14388317233115688, 0.1558902136802628, 0.14121532470996934, 0.15836751120333026, 0.1164303689096666, 0.1519073733423481, -0.27532661859044955, -0.288133061552082, -0.1775754068097196, -0.1625078301930074, -0.3006127364576704, -0.1309783395648082, 0.007946609144926814, -0.19193150010481352, 0.07495967078032847, 0.10683263169302529, 0.10683263169302529, 0.0995891273481604, 0.11238203893923596, 0.23981555970981341, 0.21430350115046642, 0.1332000556847192, 0.1589708939564953, 0.2257143851028771, 0.2704047238391584, 0.0868416954938662, -0.037312620887012565, -0.03855712499005473, 0.01550696759721773, -0.006944742169800469, -0.04358067525750849, -0.003911850623258335, 0.1843074230017637, 0.006078454639825193, -0.07193397603635314, -0.04025720999825863, -0.011909362241714683, 0.08145605333961997, 0.16380489913494395, 0.13966475710196996, 0.20127378016621483, 0.11826631990287335, 0.12747604846118643, -0.026617812645463645, -0.016563189344330757, 0.014907658716392547, -0.07371827849124524, 0.12618424933034839, 0.07501684432027725, 0.030381639744948577]
[0.30126248586603976, 0.3501610335207801, 0.1605040844743924, 0.14445051005087484, 0.17938859389695294, 0.30708776081108585, 0.17080920619956025, 0.11960836723536156, 0.14091144468915742, 0.12012088378966213, 0.28273835836361605, 0.14364572077286536, 0.1561995593386685, 0.20889313342920923, 0.19245786004753906, 0.15213786966456558, 0.16889899870739403, 0.048228657067273945, 0.002377749709099805, 0.08320207005194005, 0.1357329653092354, 0.12744004720988342, 0.18717863253713296, 0.20680653808466562, 0.18379941855647647, 0.1758747784029902, 0.15837867910741205, 0.17340914594373066, 0.07006143845882352, 0.05549382079036201, -0.00790748436181931, -0.09631548906121098, 0.2353002555425001, 0.19086651955822648, 0.184328506152852, 0.12804074298303716, 0.17101280774945266, 0.21620042919678042, 0.17672357780938924, 0.17672357780938924, 0.1838952285777231, -0.09463103541367664, 0.07067088453435834, 0.07314161252629725, 0.08933565264517536, 0.052292161142465717, 0.21656676224084137, 0.17772711360527887, 0.17772711360527887, 0.17722784111949744, 0.17857677801753108, 0.19199877618439334, 0.1566203566631918, 0.059991505175569726, 0.060959625435515426, 0.08272939687946833, 0.1251838062933175, 0.07764558033802191, 0.09418665880709537, 0.1009460534520035, 0.1468561951894296, 0.2141781747256834, 0.14777993448455568, 0.15174640295295042, 0.18328849748097611, 0.1494832787363322, 0.02805354610204237, 0.09137086519387755, 0.11912448964151388, 0.10085222127950308, 0.1318993330993728, 0.1303406201317298, 0.14820551146826996, 0.16076803518545288, 0.12005879206695054, 0.13123309263928118, 0.14352539854354085, 0.20315107219755282, 0.24875742627950026, 0.2440071528399335, 0.2323929630919202, 0.2529709152102273, 0.24631686373589196, 0.15124666725920094, 0.23714454228013065, 0.1929431141690877, 0.22452951581913774, 0.33941459589275425, 0.2914185387303232, 0.26137644584497793, 0.26693449902707944, 0.28168480617798025, 0.32693955941024483, 0.3210358453944907, 0.3895218919071449, 0.2533435563092689, 0.26341738504731205, 0.26341738504731205, 0.24525190394146323, 0.21293838472523052, 0.3175424841073513, 0.3279625816639743, 0.24812449031238137, 0.310465029482324, 0.26097925003052014, 0.08565857800506221, 0.0362444888642539, 0.33078909617857544, 0.39193235751112254, 0.39052051131164234, 0.21086506165541768, 0.1770729409019236, 0.18689164988949755, 0.08333155176760125, 0.17830389345059777, 0.2106280949093993, 0.211009616265548, 0.2951135826412459, 0.03627767763204673, 0.15080311146935732, 0.3223750973694852, 0.2659850422679193, 0.3155701893512519, 0.3425893318364445, 0.4243875257973556, 0.2156014292481272, 0.2919275514209731, 0.3861795357205758, 0.2811927041409682, 0.3501510212276927, 0.43822158080063983]
0

     Longitude  Latitude
0     79.33806  38.63556
1     79.33806  38.63556
2     79.33806  38.63556
3     79.33806  38.63556
4     79.33806  38.63556
..         ...       ...
487   79.33806  38.63556
488   79.33806  38.63556
489   79.33806  38.63556
490   79.33806  38.63556
491   79.33806  38.63556

[492 rows x 2 columns]
1
     Longitude  Latitude
0     79.17611  38.99111
1     79.17611  38.99111
2     79.17611  38.99111
3     79.17611  38.99111
4     79.17611  38.99111
..         ...       ...
487   79.17611  38.99111
488   79.17611  38.99111
489   79.17611  38.99111
490   79.17611  38.99111
491   79.17611  38.99111

[492 rows x 2 columns]
2
     Longitude  Latitude
0     79.24667  38.63139
1     79.24667  38.63139
2     79.24667  38.63139
3     79.24667  38.63139
4     79.24667  38.63139
..         ...       ...
487   79.24667  38.63139
488   79.24667  38.63139
489   79.24667  38.63139
490   79.24667  38.63139
491   79.24667  38.63139

[492 rows x 2 columns]
3
     Longitude  Latitude
0     79.23917    38.335
1     79.23917    38.335
2     79.23917    38.335
3     79.23917    38.335
4     79.23917    38.335
..         ...       ...
487   79.23917    38.335
488   79.23917    38.335
489   79.23917    38.335
490   79.23917    38.335
491   79.23917    38.335

[492 rows x 2 columns]
4
     Longitude  Latitude
0     79.88167  38.04222
1     79.88167  38.04222
2     79.88167  38.04222
3     79.88167  38.04222
4     79.88167  38.04222
..         ...       ...
487   79.88167  38.04222
488   79.88167  38.04222
489   79.88167  38.04222
490   79.88167  38.04222
491   79.88167  38.04222

[492 rows x 2 columns]
5
     Longitude  Latitude
0     79.76889  38.24528
1     79.76889  38.24528
2     79.76889  38.24528
3     79.76889  38.24528
4     79.76889  38.24528
..         ...       ...
487   79.76889  38.24528
488   79.76889  38.24528
489   79.76889  38.24528
490   79.76889  38.24528
491   79.76889  38.24528

[492 rows x 2 columns]
6
     Longitude  Latitude
0     79.94944  37.94833
1     79.94944  37.94833
2     79.94944  37.94833
3     79.94944  37.94833
4     79.94944  37.94833
..         ...       ...
487   79.94944  37.94833
488   79.94944  37.94833
489   79.94944  37.94833
490   79.94944  37.94833
491   79.94944  37.94833

[492 rows x 2 columns]
7
     Longitude  Latitude
0     80.04722  37.80278
1     80.04722  37.80278
2     80.04722  37.80278
3     80.04722  37.80278
4     80.04722  37.80278
..         ...       ...
487   80.04722  37.80278
488   80.04722  37.80278
489   80.04722  37.80278
490   80.04722  37.80278
491   80.04722  37.80278

[492 rows x 2 columns]
8
     Longitude  Latitude
0     80.00083  37.78861
1     80.00083  37.78861
2     80.00083  37.78861
3     80.00083  37.78861
4     80.00083  37.78861
..         ...       ...
487   80.00083  37.78861
488   80.00083  37.78861
489   80.00083  37.78861
490   80.00083  37.78861
491   80.00083  37.78861

[492 rows x 2 columns]
9
     Longitude  Latitude
0      80.0425  37.72889
1      80.0425  37.72889
2      80.0425  37.72889
3      80.0425  37.72889
4      80.0425  37.72889
..         ...       ...
487    80.0425  37.72889
488    80.0425  37.72889
489    80.0425  37.72889
490    80.0425  37.72889
491    80.0425  37.72889

[492 rows x 2 columns]
10
     Longitude  Latitude
0     79.57028  38.19528
1     79.57028  38.19528
2     79.57028  38.19528
3     79.57028  38.19528
4     79.57028  38.19528
..         ...       ...
487   79.57028  38.19528
488   79.57028  38.19528
489   79.57028  38.19528
490   79.57028  38.19528
491   79.57028  38.19528

[492 rows x 2 columns]
11
     Longitude  Latitude
0     79.75972  37.79167
1     79.75972  37.79167
2     79.75972  37.79167
3     79.75972  37.79167
4     79.75972  37.79167
..         ...       ...
487   79.75972  37.79167
488   79.75972  37.79167
489   79.75972  37.79167
490   79.75972  37.79167
491   79.75972  37.79167

[492 rows x 2 columns]
12
     Longitude  Latitude
0     79.78472  37.77361
1     79.78472  37.77361
2     79.78472  37.77361
3     79.78472  37.77361
4     79.78472  37.77361
..         ...       ...
487   79.78472  37.77361
488   79.78472  37.77361
489   79.78472  37.77361
490   79.78472  37.77361
491   79.78472  37.77361

[492 rows x 2 columns]
13
     Longitude  Latitude
0     80.10694  37.50611
1     80.10694  37.50611
2     80.10694  37.50611
3     80.10694  37.50611
4     80.10694  37.50611
..         ...       ...
487   80.10694  37.50611
488   80.10694  37.50611
489   80.10694  37.50611
490   80.10694  37.50611
491   80.10694  37.50611

[492 rows x 2 columns]
14
     Longitude  Latitude
0     79.90889  37.66583
1     79.90889  37.66583
2     79.90889  37.66583
3     79.90889  37.66583
4     79.90889  37.66583
..         ...       ...
487   79.90889  37.66583
488   79.90889  37.66583
489   79.90889  37.66583
490   79.90889  37.66583
491   79.90889  37.66583

[492 rows x 2 columns]
15
     Longitude  Latitude
0     80.00556  37.46806
1     80.00556  37.46806
2     80.00556  37.46806
3     80.00556  37.46806
4     80.00556  37.46806
..         ...       ...
487   80.00556  37.46806
488   80.00556  37.46806
489   80.00556  37.46806
490   80.00556  37.46806
491   80.00556  37.46806

[492 rows x 2 columns]
16
     Longitude  Latitude
0     79.67917  37.53056
1     79.67917  37.53056
2     79.67917  37.53056
3     79.67917  37.53056
4     79.67917  37.53056
..         ...       ...
487   79.67917  37.53056
488   79.67917  37.53056
489   79.67917  37.53056
490   79.67917  37.53056
491   79.67917  37.53056

[492 rows x 2 columns]
17
     Longitude  Latitude
0     79.42222  37.90722
1     79.42222  37.90722
2     79.42222  37.90722
3     79.42222  37.90722
4     79.42222  37.90722
..         ...       ...
487   79.42222  37.90722
488   79.42222  37.90722
489   79.42222  37.90722
490   79.42222  37.90722
491   79.42222  37.90722

[492 rows x 2 columns]
18
     Longitude  Latitude
0     79.44333  37.82556
1     79.44333  37.82556
2     79.44333  37.82556
3     79.44333  37.82556
4     79.44333  37.82556
..         ...       ...
487   79.44333  37.82556
488   79.44333  37.82556
489   79.44333  37.82556
490   79.44333  37.82556
491   79.44333  37.82556

[492 rows x 2 columns]
19
     Longitude  Latitude
0     79.39167   37.7625
1     79.39167   37.7625
2     79.39167   37.7625
3     79.39167   37.7625
4     79.39167   37.7625
..         ...       ...
487   79.39167   37.7625
488   79.39167   37.7625
489   79.39167   37.7625
490   79.39167   37.7625
491   79.39167   37.7625

[492 rows x 2 columns]
20
     Longitude  Latitude
0     79.26278  37.50111
1     79.26278  37.50111
2     79.26278  37.50111
3     79.26278  37.50111
4     79.26278  37.50111
..         ...       ...
487   79.26278  37.50111
488   79.26278  37.50111
489   79.26278  37.50111
490   79.26278  37.50111
491   79.26278  37.50111

[492 rows x 2 columns]
21
     Longitude  Latitude
0     79.02778  37.70222
1     79.02778  37.70222
2     79.02778  37.70222
3     79.02778  37.70222
4     79.02778  37.70222
..         ...       ...
487   79.02778  37.70222
488   79.02778  37.70222
489   79.02778  37.70222
490   79.02778  37.70222
491   79.02778  37.70222

[492 rows x 2 columns]
22
     Longitude  Latitude
0     80.26667     37.14
1     80.26667     37.14
2     80.26667     37.14
3     80.26667     37.14
4     80.26667     37.14
..         ...       ...
487   80.26667     37.14
488   80.26667     37.14
489   80.26667     37.14
490   80.26667     37.14
491   80.26667     37.14

[492 rows x 2 columns]
23
     Longitude  Latitude
0     80.20944  37.23639
1     80.20944  37.23639
2     80.20944  37.23639
3     80.20944  37.23639
4     80.20944  37.23639
..         ...       ...
487   80.20944  37.23639
488   80.20944  37.23639
489   80.20944  37.23639
490   80.20944  37.23639
491   80.20944  37.23639

[492 rows x 2 columns]
24
     Longitude  Latitude
0     79.93889  37.25833
1     79.93889  37.25833
2     79.93889  37.25833
3     79.93889  37.25833
4     79.93889  37.25833
..         ...       ...
487   79.93889  37.25833
488   79.93889  37.25833
489   79.93889  37.25833
490   79.93889  37.25833
491   79.93889  37.25833

[492 rows x 2 columns]
25
     Longitude  Latitude
0     79.87167    35.255
1     79.87167    35.255
2     79.87167    35.255
3     79.87167    35.255
4     79.87167    35.255
..         ...       ...
487   79.87167    35.255
488   79.87167    35.255
489   79.87167    35.255
490   79.87167    35.255
491   79.87167    35.255

[492 rows x 2 columns]
26

     Longitude  Latitude
0     79.86833   37.2275
1     79.86833   37.2275
2     79.86833   37.2275
3     79.86833   37.2275
4     79.86833   37.2275
..         ...       ...
487   79.86833   37.2275
488   79.86833   37.2275
489   79.86833   37.2275
490   79.86833   37.2275
491   79.86833   37.2275

[492 rows x 2 columns]
27
     Longitude  Latitude
0     79.84444    37.045
1     79.84444    37.045
2     79.84444    37.045
3     79.84444    37.045
4     79.84444    37.045
..         ...       ...
487   79.84444    37.045
488   79.84444    37.045
489   79.84444    37.045
490   79.84444    37.045
491   79.84444    37.045

[492 rows x 2 columns]
28
     Longitude  Latitude
0       79.525  36.94583
1       79.525  36.94583
2       79.525  36.94583
3       79.525  36.94583
4       79.525  36.94583
..         ...       ...
487     79.525  36.94583
488     79.525  36.94583
489     79.525  36.94583
490     79.525  36.94583
491     79.525  36.94583

[492 rows x 2 columns]
29
     Longitude  Latitude
0     79.52056  37.17306
1     79.52056  37.17306
2     79.52056  37.17306
3     79.52056  37.17306
4     79.52056  37.17306
..         ...       ...
487   79.52056  37.17306
488   79.52056  37.17306
489   79.52056  37.17306
490   79.52056  37.17306
491   79.52056  37.17306

[492 rows x 2 columns]
30
     Longitude  Latitude
0     79.30389  37.20833
1     79.30389  37.20833
2     79.30389  37.20833
3     79.30389  37.20833
4     79.30389  37.20833
..         ...       ...
487   79.30389  37.20833
488   79.30389  37.20833
489   79.30389  37.20833
490   79.30389  37.20833
491   79.30389  37.20833

[492 rows x 2 columns]
31
     Longitude  Latitude
0     80.30306    36.515
1     80.30306    36.515
2     80.30306    36.515
3     80.30306    36.515
4     80.30306    36.515
..         ...       ...
487   80.30306    36.515
488   80.30306    36.515
489   80.30306    36.515
490   80.30306    36.515
491   80.30306    36.515

[492 rows x 2 columns]
32
     Longitude  Latitude
0     80.12972  36.57083
1     80.12972  36.57083
2     80.12972  36.57083
3     80.12972  36.57083
4     80.12972  36.57083
..         ...       ...
487   80.12972  36.57083
488   80.12972  36.57083
489   80.12972  36.57083
490   80.12972  36.57083
491   80.12972  36.57083

[492 rows x 2 columns]
33
     Longitude  Latitude
0      79.9875  36.56806
1      79.9875  36.56806
2      79.9875  36.56806
3      79.9875  36.56806
4      79.9875  36.56806
..         ...       ...
487    79.9875  36.56806
488    79.9875  36.56806
489    79.9875  36.56806
490    79.9875  36.56806
491    79.9875  36.56806

[492 rows x 2 columns]
34
     Longitude  Latitude
0     79.82611   36.4125
1     79.82611   36.4125
2     79.82611   36.4125
3     79.82611   36.4125
4     79.82611   36.4125
..         ...       ...
487   79.82611   36.4125
488   79.82611   36.4125
489   79.82611   36.4125
490   79.82611   36.4125
491   79.82611   36.4125

[492 rows x 2 columns]
35
     Longitude  Latitude
0       80.025  36.78056
1       80.025  36.78056
2       80.025  36.78056
3       80.025  36.78056
4       80.025  36.78056
..         ...       ...
487     80.025  36.78056
488     80.025  36.78056
489     80.025  36.78056
490     80.025  36.78056
491     80.025  36.78056

[492 rows x 2 columns]
36
     Longitude  Latitude
0     80.00111     36.77
1     80.00111     36.77
2     80.00111     36.77
3     80.00111     36.77
4     80.00111     36.77
..         ...       ...
487   80.00111     36.77
488   80.00111     36.77
489   80.00111     36.77
490   80.00111     36.77
491   80.00111     36.77

[492 rows x 2 columns]
37
     Longitude  Latitude
0     79.88083  36.66111
1     79.88083  36.66111
2     79.88083  36.66111
3     79.88083  36.66111
4     79.88083  36.66111
..         ...       ...
487   79.88083  36.66111
488   79.88083  36.66111
489   79.88083  36.66111
490   79.88083  36.66111
491   79.88083  36.66111

[492 rows x 2 columns]
38
     Longitude  Latitude
0     79.76556  36.52556
1     79.76556  36.52556
2     79.76556  36.52556
3     79.76556  36.52556
4     79.76556  36.52556
..         ...       ...
487   79.76556  36.52556
488   79.76556  36.52556
489   79.76556  36.52556
490   79.76556  36.52556
491   79.76556  36.52556

[492 rows x 2 columns]
39
     Longitude  Latitude
0     79.50444  36.61944
1     79.50444  36.61944
2     79.50444  36.61944
3     79.50444  36.61944
4     79.50444  36.61944
..         ...       ...
487   79.50444  36.61944
488   79.50444  36.61944
489   79.50444  36.61944
490   79.50444  36.61944
491   79.50444  36.61944

[492 rows x 2 columns]
40
     Longitude  Latitude
0     79.08972  36.64222
1     79.08972  36.64222
2     79.08972  36.64222
3     79.08972  36.64222
4     79.08972  36.64222
..         ...       ...
487   79.08972  36.64222
488   79.08972  36.64222
489   79.08972  36.64222
490   79.08972  36.64222
491   79.08972  36.64222

[492 rows x 2 columns]
41
     Longitude  Latitude
0     79.19667  36.39778
1     79.19667  36.39778
2     79.19667  36.39778
3     79.19667  36.39778
4     79.19667  36.39778
..         ...       ...
487   79.19667  36.39778
488   79.19667  36.39778
489   79.19667  36.39778
490   79.19667  36.39778
491   79.19667  36.39778

[492 rows x 2 columns]
42
     Longitude  Latitude
0     79.13583  35.59861
1     79.13583  35.59861
2     79.13583  35.59861
3     79.13583  35.59861
4     79.13583  35.59861
..         ...       ...
487   79.13583  35.59861
488   79.13583  35.59861
489   79.13583  35.59861
490   79.13583  35.59861
491   79.13583  35.59861

[492 rows x 2 columns]
43
     Longitude  Latitude
0     79.65556  35.72639
1     79.65556  35.72639
2     79.65556  35.72639
3     79.65556  35.72639
4     79.65556  35.72639
..         ...       ...
487   79.65556  35.72639
488   79.65556  35.72639
489   79.65556  35.72639
490   79.65556  35.72639
491   79.65556  35.72639

[492 rows x 2 columns]
44
     Longitude  Latitude
0     79.11611  35.62694
1     79.11611  35.62694
2     79.11611  35.62694
3     79.11611  35.62694
4     79.11611  35.62694
..         ...       ...
487   79.11611  35.62694
488   79.11611  35.62694
489   79.11611  35.62694
490   79.11611  35.62694
491   79.11611  35.62694

[492 rows x 2 columns]
45
     Longitude  Latitude
0      79.1775  35.18278
1      79.1775  35.18278
2      79.1775  35.18278
3      79.1775  35.18278
4      79.1775  35.18278
..         ...       ...
487    79.1775  35.18278
488    79.1775  35.18278
489    79.1775  35.18278
490    79.1775  35.18278
491    79.1775  35.18278

[492 rows x 2 columns]
46
     Longitude  Latitude
0     81.55833  35.99083
1     81.55833  35.99083
2     81.55833  35.99083
3     81.55833  35.99083
4     81.55833  35.99083
..         ...       ...
487   81.55833  35.99083
488   81.55833  35.99083
489   81.55833  35.99083
490   81.55833  35.99083
491   81.55833  35.99083

[492 rows x 2 columns]
47
     Longitude  Latitude
0     81.16889    36.175
1     81.16889    36.175
2     81.16889    36.175
3     81.16889    36.175
4     81.16889    36.175
..         ...       ...
487   81.16889    36.175
488   81.16889    36.175
489   81.16889    36.175
490   81.16889    36.175
491   81.16889    36.175

[492 rows x 2 columns]
48
     Longitude  Latitude
0     81.14556   36.1525
1     81.14556   36.1525
2     81.14556   36.1525
3     81.14556   36.1525
4     81.14556   36.1525
..         ...       ...
487   81.14556   36.1525
488   81.14556   36.1525
489   81.14556   36.1525
490   81.14556   36.1525
491   81.14556   36.1525

[492 rows x 2 columns]
49
     Longitude  Latitude
0     80.84911  36.24104
1     80.84911  36.24104
2     80.84911  36.24104
3     80.84911  36.24104
4     80.84911  36.24104
..         ...       ...
487   80.84911  36.24104
488   80.84911  36.24104
489   80.84911  36.24104
490   80.84911  36.24104
491   80.84911  36.24104

[492 rows x 2 columns]
50
     Longitude  Latitude
0     80.56169  36.40439
1     80.56169  36.40439
2     80.56169  36.40439
3     80.56169  36.40439
4     80.56169  36.40439
..         ...       ...
487   80.56169  36.40439
488   80.56169  36.40439
489   80.56169  36.40439
490   80.56169  36.40439
491   80.56169  36.40439

[492 rows x 2 columns]
51
     Longitude  Latitude
0     80.41472  36.29917
1     80.41472  36.29917
2     80.41472  36.29917
3     80.41472  36.29917
4     80.41472  36.29917
..         ...       ...
487   80.41472  36.29917
488   80.41472  36.29917
489   80.41472  36.29917
490   80.41472  36.29917
491   80.41472  36.29917

[492 rows x 2 columns]
52

     Longitude  Latitude
0     80.44528  36.13289
1     80.44528  36.13289
2     80.44528  36.13289
3     80.44528  36.13289
4     80.44528  36.13289
..         ...       ...
487   80.44528  36.13289
488   80.44528  36.13289
489   80.44528  36.13289
490   80.44528  36.13289
491   80.44528  36.13289

[492 rows x 2 columns]
53
     Longitude  Latitude
0     80.65889    35.845
1     80.65889    35.845
2     80.65889    35.845
3     80.65889    35.845
4     80.65889    35.845
..         ...       ...
487   80.65889    35.845
488   80.65889    35.845
489   80.65889    35.845
490   80.65889    35.845
491   80.65889    35.845

[492 rows x 2 columns]
54
     Longitude  Latitude
0     80.59607  35.71761
1     80.59607  35.71761
2     80.59607  35.71761
3     80.59607  35.71761
4     80.59607  35.71761
..         ...       ...
487   80.59607  35.71761
488   80.59607  35.71761
489   80.59607  35.71761
490   80.59607  35.71761
491   80.59607  35.71761

[492 rows x 2 columns]
55
     Longitude  Latitude
0     80.16577    35.157
1     80.16577    35.157
2     80.16577    35.157
3     80.16577    35.157
4     80.16577    35.157
..         ...       ...
487   80.16577    35.157
488   80.16577    35.157
489   80.16577    35.157
490   80.16577    35.157
491   80.16577    35.157

[492 rows x 2 columns]
56
     Longitude  Latitude
0     79.86972  34.94583
1     79.86972  34.94583
2     79.86972  34.94583
3     79.86972  34.94583
4     79.86972  34.94583
..         ...       ...
487   79.86972  34.94583
488   79.86972  34.94583
489   79.86972  34.94583
490   79.86972  34.94583
491   79.86972  34.94583

[492 rows x 2 columns]
57
     Longitude  Latitude
0     80.18333  34.51389
1     80.18333  34.51389
2     80.18333  34.51389
3     80.18333  34.51389
4     80.18333  34.51389
..         ...       ...
487   80.18333  34.51389
488   80.18333  34.51389
489   80.18333  34.51389
490   80.18333  34.51389
491   80.18333  34.51389

[492 rows x 2 columns]
58
     Longitude  Latitude
0        80.15  32.39722
1        80.15  32.39722
2        80.15  32.39722
3        80.15  32.39722
4        80.15  32.39722
..         ...       ...
487      80.15  32.39722
488      80.15  32.39722
489      80.15  32.39722
490      80.15  32.39722
491      80.15  32.39722

[492 rows x 2 columns]
59
     Longitude  Latitude
0     79.75417  34.05139
1     79.75417  34.05139
2     79.75417  34.05139
3     79.75417  34.05139
4     79.75417  34.05139
..         ...       ...
487   79.75417  34.05139
488   79.75417  34.05139
489   79.75417  34.05139
490   79.75417  34.05139
491   79.75417  34.05139

[492 rows x 2 columns]
60
     Longitude  Latitude
0     79.49389  35.06111
1     79.49389  35.06111
2     79.49389  35.06111
3     79.49389  35.06111
4     79.49389  35.06111
..         ...       ...
487   79.49389  35.06111
488   79.49389  35.06111
489   79.49389  35.06111
490   79.49389  35.06111
491   79.49389  35.06111

[492 rows x 2 columns]
61
     Longitude  Latitude
0     81.89111  35.79556
1     81.89111  35.79556
2     81.89111  35.79556
3     81.89111  35.79556
4     81.89111  35.79556
..         ...       ...
487   81.89111  35.79556
488   81.89111  35.79556
489   81.89111  35.79556
490   81.89111  35.79556
491   81.89111  35.79556

[492 rows x 2 columns]
62
     Longitude  Latitude
0     81.40333  35.68444
1     81.40333  35.68444
2     81.40333  35.68444
3     81.40333  35.68444
4     81.40333  35.68444
..         ...       ...
487   81.40333  35.68444
488   81.40333  35.68444
489   81.40333  35.68444
490   81.40333  35.68444
491   81.40333  35.68444

[492 rows x 2 columns]
63
     Longitude  Latitude
0     81.56694  35.59056
1     81.56694  35.59056
2     81.56694  35.59056
3     81.56694  35.59056
4     81.56694  35.59056
..         ...       ...
487   81.56694  35.59056
488   81.56694  35.59056
489   81.56694  35.59056
490   81.56694  35.59056
491   81.56694  35.59056

[492 rows x 2 columns]
64
     Longitude  Latitude
0     81.26528  35.42056
1     81.26528  35.42056
2     81.26528  35.42056
3     81.26528  35.42056
4     81.26528  35.42056
..         ...       ...
487   81.26528  35.42056
488   81.26528  35.42056
489   81.26528  35.42056
490   81.26528  35.42056
491   81.26528  35.42056

[492 rows x 2 columns]
65
     Longitude  Latitude
0     81.23472  35.30639
1     81.23472  35.30639
2     81.23472  35.30639
3     81.23472  35.30639
4     81.23472  35.30639
..         ...       ...
487   81.23472  35.30639
488   81.23472  35.30639
489   81.23472  35.30639
490   81.23472  35.30639
491   81.23472  35.30639

[492 rows x 2 columns]
66
     Longitude  Latitude
0     80.85778  35.14806
1     80.85778  35.14806
2     80.85778  35.14806
3     80.85778  35.14806
4     80.85778  35.14806
..         ...       ...
487   80.85778  35.14806
488   80.85778  35.14806
489   80.85778  35.14806
490   80.85778  35.14806
491   80.85778  35.14806

[492 rows x 2 columns]
67
     Longitude  Latitude
0      80.7675  35.13778
1      80.7675  35.13778
2      80.7675  35.13778
3      80.7675  35.13778
4      80.7675  35.13778
..         ...       ...
487    80.7675  35.13778
488    80.7675  35.13778
489    80.7675  35.13778
490    80.7675  35.13778
491    80.7675  35.13778

[492 rows x 2 columns]
68
     Longitude  Latitude
0     82.11167  35.42333
1     82.11167  35.42333
2     82.11167  35.42333
3     82.11167  35.42333
4     82.11167  35.42333
..         ...       ...
487   82.11167  35.42333
488   82.11167  35.42333
489   82.11167  35.42333
490   82.11167  35.42333
491   82.11167  35.42333

[492 rows x 2 columns]
69
     Longitude  Latitude
0      81.6975  35.21083
1      81.6975  35.21083
2      81.6975  35.21083
3      81.6975  35.21083
4      81.6975  35.21083
..         ...       ...
487    81.6975  35.21083
488    81.6975  35.21083
489    81.6975  35.21083
490    81.6975  35.21083
491    81.6975  35.21083

[492 rows x 2 columns]
70
     Longitude  Latitude
0     81.68222  35.49306
1     81.68222  35.49306
2     81.68222  35.49306
3     81.68222  35.49306
4     81.68222  35.49306
..         ...       ...
487   81.68222  35.49306
488   81.68222  35.49306
489   81.68222  35.49306
490   81.68222  35.49306
491   81.68222  35.49306

[492 rows x 2 columns]
71
     Longitude  Latitude
0     81.98611  35.12083
1     81.98611  35.12083
2     81.98611  35.12083
3     81.98611  35.12083
4     81.98611  35.12083
..         ...       ...
487   81.98611  35.12083
488   81.98611  35.12083
489   81.98611  35.12083
490   81.98611  35.12083
491   81.98611  35.12083

[492 rows x 2 columns]
72
     Longitude  Latitude
0     81.42139    34.595
1     81.42139    34.595
2     81.42139    34.595
3     81.42139    34.595
4     81.42139    34.595
..         ...       ...
487   81.42139    34.595
488   81.42139    34.595
489   81.42139    34.595
490   81.42139    34.595
491   81.42139    34.595

[492 rows x 2 columns]
73
     Longitude  Latitude
0     81.54833  34.53528
1     81.54833  34.53528
2     81.54833  34.53528
3     81.54833  34.53528
4     81.54833  34.53528
..         ...       ...
487   81.54833  34.53528
488   81.54833  34.53528
489   81.54833  34.53528
490   81.54833  34.53528
491   81.54833  34.53528

[492 rows x 2 columns]
74
     Longitude  Latitude
0     81.59833  34.50917
1     81.59833  34.50917
2     81.59833  34.50917
3     81.59833  34.50917
4     81.59833  34.50917
..         ...       ...
487   81.59833  34.50917
488   81.59833  34.50917
489   81.59833  34.50917
490   81.59833  34.50917
491   81.59833  34.50917

[492 rows x 2 columns]
75
     Longitude  Latitude
0     82.22361  34.39167
1     82.22361  34.39167
2     82.22361  34.39167
3     82.22361  34.39167
4     82.22361  34.39167
..         ...       ...
487   82.22361  34.39167
488   82.22361  34.39167
489   82.22361  34.39167
490   82.22361  34.39167
491   82.22361  34.39167

[492 rows x 2 columns]
76
     Longitude  Latitude
0     81.86417  34.17444
1     81.86417  34.17444
2     81.86417  34.17444
3     81.86417  34.17444
4     81.86417  34.17444
..         ...       ...
487   81.86417  34.17444
488   81.86417  34.17444
489   81.86417  34.17444
490   81.86417  34.17444
491   81.86417  34.17444

[492 rows x 2 columns]
77
     Longitude  Latitude
0     83.30611  34.81389
1     83.30611  34.81389
2     83.30611  34.81389
3     83.30611  34.81389
4     83.30611  34.81389
..         ...       ...
487   83.30611  34.81389
488   83.30611  34.81389
489   83.30611  34.81389
490   83.30611  34.81389
491   83.30611  34.81389

[492 rows x 2 columns]
78

     Longitude  Latitude
0     83.53064  34.88997
1     83.53064  34.88997
2     83.53064  34.88997
3     83.53064  34.88997
4     83.53064  34.88997
..         ...       ...
487   83.53064  34.88997
488   83.53064  34.88997
489   83.53064  34.88997
490   83.53064  34.88997
491   83.53064  34.88997

[492 rows x 2 columns]
79
     Longitude  Latitude
0     83.62277  34.54072
1     83.62277  34.54072
2     83.62277  34.54072
3     83.62277  34.54072
4     83.62277  34.54072
..         ...       ...
487   83.62277  34.54072
488   83.62277  34.54072
489   83.62277  34.54072
490   83.62277  34.54072
491   83.62277  34.54072

[492 rows x 2 columns]
80
     Longitude  Latitude
0     81.40694  36.39333
1     81.40694  36.39333
2     81.40694  36.39333
3     81.40694  36.39333
4     81.40694  36.39333
..         ...       ...
487   81.40694  36.39333
488   81.40694  36.39333
489   81.40694  36.39333
490   81.40694  36.39333
491   81.40694  36.39333

[492 rows x 2 columns]
81
     Longitude  Latitude
0     80.97917  36.64722
1     80.97917  36.64722
2     80.97917  36.64722
3     80.97917  36.64722
4     80.97917  36.64722
..         ...       ...
487   80.97917  36.64722
488   80.97917  36.64722
489   80.97917  36.64722
490   80.97917  36.64722
491   80.97917  36.64722

[492 rows x 2 columns]
82
     Longitude  Latitude
0     80.74583   36.9375
1     80.74583   36.9375
2     80.74583   36.9375
3     80.74583   36.9375
4     80.74583   36.9375
..         ...       ...
487   80.74583   36.9375
488   80.74583   36.9375
489   80.74583   36.9375
490   80.74583   36.9375
491   80.74583   36.9375

[492 rows x 2 columns]
83
     Longitude  Latitude
0     80.55694   37.0375
1     80.55694   37.0375
2     80.55694   37.0375
3     80.55694   37.0375
4     80.55694   37.0375
..         ...       ...
487   80.55694   37.0375
488   80.55694   37.0375
489   80.55694   37.0375
490   80.55694   37.0375
491   80.55694   37.0375

[492 rows x 2 columns]
84
     Longitude  Latitude
0     80.56944  37.14167
1     80.56944  37.14167
2     80.56944  37.14167
3     80.56944  37.14167
4     80.56944  37.14167
..         ...       ...
487   80.56944  37.14167
488   80.56944  37.14167
489   80.56944  37.14167
490   80.56944  37.14167
491   80.56944  37.14167

[492 rows x 2 columns]
85
     Longitude  Latitude
0     80.70972  37.26806
1     80.56944  37.14167
2     80.56944  37.14167
3     80.56944  37.14167
4     80.56944  37.14167
..         ...       ...
487   80.56944  37.14167
488   80.56944  37.14167
489   80.56944  37.14167
490   80.56944  37.14167
491   80.56944  37.14167

[492 rows x 2 columns]
86
     Longitude  Latitude
0     80.86083  37.37278
1     80.86083  37.37278
2     80.86083  37.37278
3     80.86083  37.37278
4     80.86083  37.37278
..         ...       ...
487   80.86083  37.37278
488   80.86083  37.37278
489   80.86083  37.37278
490   80.86083  37.37278
491   80.86083  37.37278

[492 rows x 2 columns]
87
     Longitude  Latitude
0     79.83333  38.54361
1     79.83333  38.54361
2     79.83333  38.54361
3     79.83333  38.54361
4     79.83333  38.54361
..         ...       ...
487   79.83333  38.54361
488   79.83333  38.54361
489   79.83333  38.54361
490   79.83333  38.54361
491   79.83333  38.54361

[492 rows x 2 columns]
88
     Longitude  Latitude
0        80.13  38.18622
1        80.13  38.18622
2        80.13  38.18622
3        80.13  38.18622
4        80.13  38.18622
..         ...       ...
487      80.13  38.18622
488      80.13  38.18622
489      80.13  38.18622
490      80.13  38.18622
491      80.13  38.18622

[492 rows x 2 columns]
89
     Longitude  Latitude
0     80.64167  37.72417
1     80.64167  37.72417
2     80.64167  37.72417
3     80.64167  37.72417
4     80.64167  37.72417
..         ...       ...
487   80.64167  37.72417
488   80.64167  37.72417
489   80.64167  37.72417
490   80.64167  37.72417
491   80.64167  37.72417

[492 rows x 2 columns]
90
     Longitude  Latitude
0     80.80528     37.64
1     80.80528     37.64
2     80.80528     37.64
3     80.80528     37.64
4     80.80528     37.64
..         ...       ...
487   80.80528     37.64
488   80.80528     37.64
489   80.80528     37.64
490   80.80528     37.64
491   80.80528     37.64

[492 rows x 2 columns]
91
     Longitude  Latitude
0     80.48417  38.37889
1     80.48417  38.37889
2     80.48417  38.37889
3     80.48417  38.37889
4     80.48417  38.37889
..         ...       ...
487   80.48417  38.37889
488   80.48417  38.37889
489   80.48417  38.37889
490   80.48417  38.37889
491   80.48417  38.37889

[492 rows x 2 columns]
92
     Longitude  Latitude
0     81.18111  38.23333
1     81.18111  38.23333
2     81.18111  38.23333
3     81.18111  38.23333
4     81.18111  38.23333
..         ...       ...
487   81.18111  38.23333
488   81.18111  38.23333
489   81.18111  38.23333
490   81.18111  38.23333
491   81.18111  38.23333

[492 rows x 2 columns]
93
     Longitude  Latitude
0     81.21444  39.13806
1     81.21444  39.13806
2     81.21444  39.13806
3     81.21444  39.13806
4     81.21444  39.13806
..         ...       ...
487   81.21444  39.13806
488   81.21444  39.13806
489   81.21444  39.13806
490   81.21444  39.13806
491   81.21444  39.13806

[492 rows x 2 columns]
94
     Longitude  Latitude
0     81.28417   38.6375
1     81.28417   38.6375
2     81.28417   38.6375
3     81.28417   38.6375
4     81.28417   38.6375
..         ...       ...
487   81.28417   38.6375
488   81.28417   38.6375
489   81.28417   38.6375
490   81.28417   38.6375
491   81.28417   38.6375

[492 rows x 2 columns]
95
     Longitude  Latitude
0     81.71167  38.17972
1     81.71167  38.17972
2     81.71167  38.17972
3     81.71167  38.17972
4     81.71167  38.17972
..         ...       ...
487   81.71167  38.17972
488   81.71167  38.17972
489   81.71167  38.17972
490   81.71167  38.17972
491   81.71167  38.17972

[492 rows x 2 columns]
96
     Longitude  Latitude
0     81.84167  38.33889
1     81.84167  38.33889
2     81.84167  38.33889
3     81.84167  38.33889
4     81.84167  38.33889
..         ...       ...
487   81.84167  38.33889
488   81.84167  38.33889
489   81.84167  38.33889
490   81.84167  38.33889
491   81.84167  38.33889

[492 rows x 2 columns]
97
     Longitude  Latitude
0     81.64528  37.60389
1     81.64528  37.60389
2     81.64528  37.60389
3     81.64528  37.60389
4     81.64528  37.60389
..         ...       ...
487   81.64528  37.60389
488   81.64528  37.60389
489   81.64528  37.60389
490   81.64528  37.60389
491   81.64528  37.60389

[492 rows x 2 columns]
98
     Longitude  Latitude
0      81.7075  37.62306
1      81.7075  37.62306
2      81.7075  37.62306
3      81.7075  37.62306
4      81.7075  37.62306
..         ...       ...
487    81.7075  37.62306
488    81.7075  37.62306
489    81.7075  37.62306
490    81.7075  37.62306
491    81.7075  37.62306

[492 rows x 2 columns]
99
     Longitude  Latitude
0     81.97611  37.84222
1     81.97611  37.84222
2     81.97611  37.84222
3     81.97611  37.84222
4     81.97611  37.84222
..         ...       ...
487   81.97611  37.84222
488   81.97611  37.84222
489   81.97611  37.84222
490   81.97611  37.84222
491   81.97611  37.84222

[492 rows x 2 columns]
100
     Longitude  Latitude
0     82.19583  37.35361
1     82.19583  37.35361
2     82.19583  37.35361
3     82.19583  37.35361
4     82.19583  37.35361
..         ...       ...
487   82.19583  37.35361
488   82.19583  37.35361
489   82.19583  37.35361
490   82.19583  37.35361
491   82.19583  37.35361

[492 rows x 2 columns]
101
     Longitude  Latitude
0     82.29583  37.20694
1     82.29583  37.20694
2     82.29583  37.20694
3     82.29583  37.20694
4     82.29583  37.20694
..         ...       ...
487   82.29583  37.20694
488   82.29583  37.20694
489   82.29583  37.20694
490   82.29583  37.20694
491   82.29583  37.20694

[492 rows x 2 columns]
102
     Longitude  Latitude
0     82.43889  37.12389
1     82.43889  37.12389
2     82.43889  37.12389
3     82.43889  37.12389
4     82.43889  37.12389
..         ...       ...
487   82.43889  37.12389
488   82.43889  37.12389
489   82.43889  37.12389
490   82.43889  37.12389
491   82.43889  37.12389

[492 rows x 2 columns]
103
     Longitude  Latitude
0     82.34333  37.23694
1     82.34333  37.23694
2     82.34333  37.23694
3     82.34333  37.23694
4     82.34333  37.23694
..         ...       ...
487   82.34333  37.23694
488   82.34333  37.23694
489   82.34333  37.23694
490   82.34333  37.23694
491   82.34333  37.23694

[492 rows x 2 columns]
104

     Longitude  Latitude
0     82.28028  37.67306
1     82.28028  37.67306
2     82.28028  37.67306
3     82.28028  37.67306
4     82.28028  37.67306
..         ...       ...
487   82.28028  37.67306
488   82.28028  37.67306
489   82.28028  37.67306
490   82.28028  37.67306
491   82.28028  37.67306

[492 rows x 2 columns]
105
     Longitude  Latitude
0     82.95222  38.56417
1     82.95222  38.56417
2     82.95222  38.56417
3     82.95222  38.56417
4     82.95222  38.56417
..         ...       ...
487   82.95222  38.56417
488   82.95222  38.56417
489   82.95222  38.56417
490   82.95222  38.56417
491   82.95222  38.56417

[492 rows x 2 columns]
106
     Longitude  Latitude
0     83.42111  38.80361
1     83.42111  38.80361
2     83.42111  38.80361
3     83.42111  38.80361
4     83.42111  38.80361
..         ...       ...
487   83.42111  38.80361
488   83.42111  38.80361
489   83.42111  38.80361
490   83.42111  38.80361
491   83.42111  38.80361

[492 rows x 2 columns]
107
     Longitude  Latitude
0     83.30806    37.165
1     83.30806    37.165
2     83.30806    37.165
3     83.30806    37.165
4     83.30806    37.165
..         ...       ...
487   83.30806    37.165
488   83.30806    37.165
489   83.30806    37.165
490   83.30806    37.165
491   83.30806    37.165

[492 rows x 2 columns]
108
     Longitude  Latitude
0     83.59389    37.555
1     83.59389    37.555
2     83.59389    37.555
3     83.59389    37.555
4     83.59389    37.555
..         ...       ...
487   83.59389    37.555
488   83.59389    37.555
489   83.59389    37.555
490   83.59389    37.555
491   83.59389    37.555

[492 rows x 2 columns]
109
     Longitude  Latitude
0     83.76833  37.55528
1     83.76833  37.55528
2     83.76833  37.55528
3     83.76833  37.55528
4     83.76833  37.55528
..         ...       ...
487   83.76833  37.55528
488   83.76833  37.55528
489   83.76833  37.55528
490   83.76833  37.55528
491   83.76833  37.55528

[492 rows x 2 columns]
110
     Longitude  Latitude
0     82.82472  35.14333
1     82.82472  35.14333
2     82.82472  35.14333
3     82.82472  35.14333
4     82.82472  35.14333
..         ...       ...
487   82.82472  35.14333
488   82.82472  35.14333
489   82.82472  35.14333
490   82.82472  35.14333
491   82.82472  35.14333

[492 rows x 2 columns]
111
     Longitude  Latitude
0     82.62389  35.29917
1     82.62389  35.29917
2     82.62389  35.29917
3     82.62389  35.29917
4     82.62389  35.29917
..         ...       ...
487   82.62389  35.29917
488   82.62389  35.29917
489   82.62389  35.29917
490   82.62389  35.29917
491   82.62389  35.29917

[492 rows x 2 columns]
112
     Longitude  Latitude
0       82.595  35.39806
1       82.595  35.39806
2       82.595  35.39806
3       82.595  35.39806
4       82.595  35.39806
..         ...       ...
487     82.595  35.39806
488     82.595  35.39806
489     82.595  35.39806
490     82.595  35.39806
491     82.595  35.39806

[492 rows x 2 columns]
113
     Longitude  Latitude
0     82.54472  35.56833
1     82.54472  35.56833
2     82.54472  35.56833
3     82.54472  35.56833
4     82.54472  35.56833
..         ...       ...
487   82.54472  35.56833
488   82.54472  35.56833
489   82.54472  35.56833
490   82.54472  35.56833
491   82.54472  35.56833

[492 rows x 2 columns]
114
     Longitude  Latitude
0     82.57806  35.60889
1     82.57806  35.60889
2     82.57806  35.60889
3     82.57806  35.60889
4     82.57806  35.60889
..         ...       ...
487   82.57806  35.60889
488   82.57806  35.60889
489   82.57806  35.60889
490   82.57806  35.60889
491   82.57806  35.60889

[492 rows x 2 columns]
115
     Longitude  Latitude
0      82.9375  35.39611
1      82.9375  35.39611
2      82.9375  35.39611
3      82.9375  35.39611
4      82.9375  35.39611
..         ...       ...
487    82.9375  35.39611
488    82.9375  35.39611
489    82.9375  35.39611
490    82.9375  35.39611
491    82.9375  35.39611

[492 rows x 2 columns]
116
     Longitude  Latitude
0     82.86972  35.46167
1     82.86972  35.46167
2     82.86972  35.46167
3     82.86972  35.46167
4     82.86972  35.46167
..         ...       ...
487   82.86972  35.46167
488   82.86972  35.46167
489   82.86972  35.46167
490   82.86972  35.46167
491   82.86972  35.46167

[492 rows x 2 columns]
117
     Longitude  Latitude
0     83.07278  35.66722
1     83.07278  35.66722
2     83.07278  35.66722
3     83.07278  35.66722
4     83.07278  35.66722
..         ...       ...
487   83.07278  35.66722
488   83.07278  35.66722
489   83.07278  35.66722
490   83.07278  35.66722
491   83.07278  35.66722

[492 rows x 2 columns]
118
     Longitude  Latitude
0     82.18417  35.83139
1     82.18417  35.83139
2     82.18417  35.83139
3     82.18417  35.83139
4     82.18417  35.83139
..         ...       ...
487   82.18417  35.83139
488   82.18417  35.83139
489   82.18417  35.83139
490   82.18417  35.83139
491   82.18417  35.83139

[492 rows x 2 columns]
119
     Longitude  Latitude
0      82.4575  36.17639
1      82.4575  36.17639
2      82.4575  36.17639
3      82.4575  36.17639
4      82.4575  36.17639
..         ...       ...
487    82.4575  36.17639
488    82.4575  36.17639
489    82.4575  36.17639
490    82.4575  36.17639
491    82.4575  36.17639

[492 rows x 2 columns]
120
     Longitude  Latitude
0     81.63139  36.76028
1     81.63139  36.76028
2     81.63139  36.76028
3     81.63139  36.76028
4     81.63139  36.76028
..         ...       ...
487   81.63139  36.76028
488   81.63139  36.76028
489   81.63139  36.76028
490   81.63139  36.76028
491   81.63139  36.76028

[492 rows x 2 columns]
121
     Longitude  Latitude
0     81.84417  36.65167
1     81.84417  36.65167
2     81.84417  36.65167
3     81.84417  36.65167
4     81.84417  36.65167
..         ...       ...
487   81.84417  36.65167
488   81.84417  36.65167
489   81.84417  36.65167
490   81.84417  36.65167
491   81.84417  36.65167

[492 rows x 2 columns]
122
     Longitude  Latitude
0     81.82222  36.23917
1     81.82222  36.23917
2     81.82222  36.23917
3     81.82222  36.23917
4     81.82222  36.23917
..         ...       ...
487   81.82222  36.23917
488   81.82222  36.23917
489   81.82222  36.23917
490   81.82222  36.23917
491   81.82222  36.23917

[492 rows x 2 columns]
123
     Longitude  Latitude
0     81.74639  36.89667
1     81.74639  36.89667
2     81.74639  36.89667
3     81.74639  36.89667
4     81.74639  36.89667
..         ...       ...
487   81.74639  36.89667
488   81.74639  36.89667
489   81.74639  36.89667
490   81.74639  36.89667
491   81.74639  36.89667

[492 rows x 2 columns]
124
     Longitude  Latitude
0      83.8847  35.78554
1      83.8847  35.78554
2      83.8847  35.78554
3      83.8847  35.78554
4      83.8847  35.78554
..         ...       ...
487    83.8847  35.78554
488    83.8847  35.78554
489    83.8847  35.78554
490    83.8847  35.78554
491    83.8847  35.78554

[492 rows x 2 columns]
125
     Longitude  Latitude
0     83.37972     35.15
1     83.37972     35.15
2     83.37972     35.15
3     83.37972     35.15
4     83.37972     35.15
..         ...       ...
487   83.37972     35.15
488   83.37972     35.15
489   83.37972     35.15
490   83.37972     35.15
491   83.37972     35.15

[492 rows x 2 columns]
126
     Longitude  Latitude
0     83.61861   37.1275
1     83.61861   37.1275
2     83.61861   37.1275
3     83.61861   37.1275
4     83.61861   37.1275
..         ...       ...
487   83.61861   37.1275
488   83.61861   37.1275
489   83.61861   37.1275
490   83.61861   37.1275
491   83.61861   37.1275

[492 rows x 2 columns]
127
     Longitude  Latitude
0     83.35361  35.46139
1     83.35361  35.46139
2     83.35361  35.46139
3     83.35361  35.46139
4     83.35361  35.46139
..         ...       ...
487   83.35361  35.46139
488   83.35361  35.46139
489   83.35361  35.46139
490   83.35361  35.46139
491   83.35361  35.46139

[492 rows x 2 columns]
128
     Longitude  Latitude
0       82.155  36.94472
1       82.155  36.94472
2       82.155  36.94472
3       82.155  36.94472
4       82.155  36.94472
..         ...       ...
487     82.155  36.94472
488     82.155  36.94472
489     82.155  36.94472
490     82.155  36.94472
491     82.155  36.94472

[492 rows x 2 columns]
129

     Longitude  Latitude
0       83.095  36.66194
1       83.095  36.66194
2       83.095  36.66194
3       83.095  36.66194
4       83.095  36.66194
..         ...       ...
487     83.095  36.66194
488     83.095  36.66194
489     83.095  36.66194
490     83.095  36.66194
491     83.095  36.66194

[492 rows x 2 columns]
130
     Longitude  Latitude
0     83.98056  35.13889
1     83.98056  35.13889
2     83.98056  35.13889
3     83.98056  35.13889
4     83.98056  35.13889
..         ...       ...
487   83.98056  35.13889
488   83.98056  35.13889
489   83.98056  35.13889
490   83.98056  35.13889
491   83.98056  35.13889

[492 rows x 2 columns]

In [14]:
print(len(seaice_corr))

393

In [15]:
print(len(seaice_p))

393

In [16]:
len(seaice_mean_djf)

41

In [17]:
print(len(seaice_mean_jja))

41

In [18]:
print(len(seaice_mean_mam))

41

In [25]:
from openpyxl import load_workbook

def get_sheetnames_xlsx(filepath):
    wb = load_workbook(filepath, read_only=True)
    return wb.sheetnames

sheet_names = get_sheetnames_xlsx('Streamflow_Data.xlsx')

In [26]:
df.index = sheet_names

In [27]:
df

,Longitude,Latitude,r_djf,p_djf,r_mam,p_mam,r_jja,p_jja
"Franklin, WV",79.33806,38.63556,0.122266,0.446335,-0.101349,0.528363,0.301262,0.055607
"Petersburg, WV",79.17611,38.99111,0.069181,0.667346,-0.158334,0.322793,0.350161,0.024809
"Brandywine, WV",79.24667,38.63139,0.047936,0.765994,-0.153306,0.338590,0.160504,0.316120
"Stokesville, VA",79.23917,38.33500,0.203775,0.201284,-0.103084,0.521287,0.144451,0.367552
"Bacova, VA",79.88167,38.04222,0.146591,0.360420,-0.185549,0.245452,0.179389,0.261753
...,...,...,...,...,...,...,...,...
"Rainbow Springs, NC",83.61861,37.12750,0.155556,0.331462,0.014908,0.926294,0.291928,0.064024
"Birdtown, NC",83.35361,35.46139,0.124489,0.438049,-0.073718,0.646914,0.386180,0.012636
"Cleveland, VA",82.15500,36.94472,0.296962,0.059368,0.126184,0.431788,0.281193,0.074919
"Jonesville, VA",83.09500,36.66194,0.349488,0.025106,0.075017,0.641112,0.350151,0.024813
"Tomotla, NC",83.98056,35.13889,0.253713,0.109458,0.030382,0.850434,0.438222,0.004161

In [23]:
df.min(axis=0)

Longitude    79.027780
Latitude     32.397220
r_djf        -0.143682
p_djf         0.007827
r_mam        -0.300613
p_mam         0.056163
r_jja        -0.096315
p_jja         0.004161
dtype: float64

In [29]:
df.to_excel('stats.xlsx')